.cart-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.cart-success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cartlist-main-btn {
  width: 95px;
  height: 20px;
  padding: 5px;
  background-color: white;
  border: 2px solid #e8e8e8;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
}

.cartlist-main-btn:hover {
    color: white;
    background-color: #e8e8e8;
  }